@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

::selection {
    background-color: #FFC107;
}

::-webkit-scrollbar {
    display: none;
}

body {
    overflow: hidden;
    background-color: #F5F5F5;
}

main {
    padding-bottom: 5vh;
}

.sliderImg {
    height: 60vh;
    width: 100vw;
}

.captionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption {
    position: absolute;
    bottom: 25vh;
    font-size: 10rem;
    font-family: 'Delicious Handrawn', cursive;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 3px #000000;
    transition: 2s ease;
}

/* .caption:hover {
    font-size: 11rem;
} */


/* .stars {
    width: 10vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.opinions {
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    width: 100vw;
}

.opinion {
    width: 25%;
    border: rgba(0, 0, 0, 0.164) 1px solid;
    padding: 1%;
    border-radius: 10px;
    height: fit-content;
    box-shadow: 0 5px 15px -10px rgba(0, 0, 0, 0.3);
}

.content {
    padding-top: 2%;
    padding-bottom: 5%;
    color:rgba(0, 0, 0, 0.603)
}

.bottom {
    padding-top: 5%;
    position: relative;
}

.bottom.bottomAnimation::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: #FFC107;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: loadLineInOpinion 1s 2s cubic-bezier(.5,0,.5,1) forwards;
}

.star {
    width: 2rem;
}

.date {
    color:rgba(0, 0, 0, 0.4);
    font-size: 2rem;
}

.firstOpinion {
    position: relative;
    right: 1000px;
    animation: loadFirstOpinion 2s .5s ease forwards;
}
.secondOpinion {
    position: relative;
    top: 1000px;
    animation: loadSecondOpinion 2s .5s ease forwards;
}
.lastOpinion {
    position: relative;
    left: 1000px;
    animation: loadLastOpinion 2s 1s ease forwards;
}

.loader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.circleInLoader {
    position: absolute;
    width: 12vw;
    height: 12vw;
    border: 10px solid;
    border-color: black black transparent;
    border-radius: 50%;
    z-index: 3;
    animation: loadCircle 2s ease infinite;
}

@keyframes loadCircle {
    to {
        transform: rotate(360deg);
    }
}
@keyframes loadHerb {
    to {
        transform: rotate(-360deg);
    }
}

@keyframes loadFirstOpinion {
    to {
        right: 0;
    }
}
@keyframes loadSecondOpinion {
    to {
        top: 0;
    }
}
@keyframes loadLastOpinion {
    to {
        left: 0;
    }
}

@keyframes loadLineInOpinion {
    to {
        width: 100%;
    }
}

/* @media screen and (max-width: 1000px) {
    .sliderImg {
        height: 30vh;
    }
    .caption {
        bottom: 5vh;
    }
}

@media screen and (max-height: 480px) {
    .caption {
        font-size: 7rem;
    }
}

@media screen and (max-height: 600px) {
    .caption {
        bottom: 20vh;
    }
}

@media screen and (max-width: 1490px) {
    .navText {
        font-size: 20px;
    }
}

@media screen and (max-width: 1259px) {
    .navText {
        font-size: 15px;
    }
}

@media screen and (max-width: 1071px) {
    .navText {
        font-size: 10px;
    }
}

@media screen and (max-width: 887px) {
    .navText {
        font-size: 7px;
    }
} */



a {
  font-size: 26px;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  transition: all 0.5s ease;
  color: black;
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #FFC107;
  bottom: 0;
  left: 0;
  transition: width .7s ease;
  border-radius: 50px;
}

header:hover a:not(:hover) {
  color: black;
  opacity: 0.3;
  filter: blur(1px);
}

a:hover::after {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 72px;
}

.animateNavbar {
  animation: 1.5s ease 0s 1 loadNav;
}

.navElement {
  list-style: none;
}


header {
  display: flex;
  box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.1);
  height: 11vh;
  width: 100vw;
}

.logo {
  display: flex;
  width: 50%;
  height: 100%;
}

.animateLogo {
  animation: 1s ease 0s 1 loadLogo;
}

.logo img {
  padding-left: 30%;
}

@keyframes loadNav {
  0% {
      opacity: 0;
      transform: translateX(-100%);
  }
  100% {
      opacity: 100%;
      transform: translateX(0);
  }
}

@keyframes loadLogo {
  0% {
      opacity: 0;
      transform: translateX(-50%);
  }
  100% {
      transform: scale(1);
      opacity: 100%;
  }
}